*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Spectral', serif;
}

.headerColour{
	background-color: #08A0F4;
	padding-bottom: 100px;
	animation: pulse 5s infinite;

}
@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}